#toggle {
   color: rgb(0, 80, 255)
}

div.hide {
   display: none;
}

div.show {
   display: inline;
}

div.comments-div {
   padding: 0 50px;
}

div.comments-div h5 {
   margin-bottom: -10px;
}

div.comments-div span {
   font-weight: lighter;
   color: rgb(100, 100, 100);
   /* float: right; */
}